@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


body {
    margin: 0;
    font-family: 'Bebas Neue', cursive;
    background-color: #2D3047;
    color: white;
}

h1 {
    font-size: 40px;
}

section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 400px;
    padding: 100px 20vw;

}

.logo {
    padding: 80px 20vw;
}

.logo img {
    align-items: center;
    max-width: 30%;
    height: auto;
}

.sectionOne {
    text-align: center;
}

.sectionTwo {
    text-align: left;
}

.sectionThree {
    text-align: right;

}

.sectionFour {
    text-align: center;
}

.fade-in {
    opacity: 0;
    transition: opacity 250ms ease-in;
}


.purple {
    background-color: #A799B7;
}

.blue {
    background-color: #414B5F;
}


.green {
    background-color: #048A81;
}

.wave {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.wave svg {
    position: relative;
    display: block;
    width: calc(173% + 1.3px);
    height: 174px;
}

.wave .shape-fill {
    fill: #2D3047;
}

.custom-shape-divider-top-1644025950 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1644025950 svg {
    position: relative;
    display: block;
    width: calc(173% + 1.3px);
    height: 174px;
}

.custom-shape-divider-top-1644025950 .shape-fill {
    fill: #048A81;
}